USE [master]
GO
/****** Object:  Database [HospitalManagement]    Script Date: 13/01/2026 00:53:40 ******/
CREATE DATABASE [HospitalManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HospitalManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HospitalManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HospitalManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HospitalManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HospitalManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HospitalManagement]
GO
/****** Object:  Table [dbo].[ConsultationDetails]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultationDetails](
	[ConsultDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[NurseId] [int] NOT NULL,
	[ConsultationId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
	[ConsultationDate] [datetime] NOT NULL,
	[Reason] [nvarchar](500) NOT NULL,
	[Notes] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_ConsultationNurses] PRIMARY KEY CLUSTERED 
(
	[ConsultDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultations]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultations](
	[ConsultationId] [int] IDENTITY(1,1) NOT NULL,
	[ConsultationPatientId] [int] NOT NULL,
	[ConsultationDoctorId] [int] NOT NULL,
	[ConsultationDate] [datetime] NOT NULL,
	[ConsultationReason] [nvarchar](500) NOT NULL,
	[ConsultationDiagnosis] [nvarchar](500) NOT NULL,
	[ConsultationNotes] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Consultations] PRIMARY KEY CLUSTERED 
(
	[ConsultationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Addr] [nvarchar](150) NOT NULL,
	[County] [nvarchar](50) NOT NULL,
	[DoB] [datetime] NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Pay] [money] NOT NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logins]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logins](
	[LoginId] [int] IDENTITY(1,1) NOT NULL,
	[LoginUserName] [nvarchar](50) NOT NULL,
	[LoginPassword] [nvarchar](500) NOT NULL,
	[LoginRole] [nvarchar](20) NOT NULL,
	[LoginCreateDate] [datetime] NOT NULL,
	[LoginIsActive] [int] NOT NULL,
 CONSTRAINT [PK_Logins] PRIMARY KEY CLUSTERED 
(
	[LoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nurses]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nurses](
	[NurseId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Addr] [nvarchar](150) NOT NULL,
	[County] [nvarchar](50) NOT NULL,
	[Dob] [datetime] NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[HoursWorked] [int] NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[NurseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Addr] [nvarchar](150) NOT NULL,
	[County] [nvarchar](50) NOT NULL,
	[Dob] [datetime] NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[PatientNumber] [int] NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConsultationDetails]  WITH CHECK ADD  CONSTRAINT [ConsultationIdFK] FOREIGN KEY([ConsultationId])
REFERENCES [dbo].[Consultations] ([ConsultationId])
GO
ALTER TABLE [dbo].[ConsultationDetails] CHECK CONSTRAINT [ConsultationIdFK]
GO
ALTER TABLE [dbo].[ConsultationDetails]  WITH CHECK ADD  CONSTRAINT [ConsultationNurseIdentificationFK] FOREIGN KEY([NurseId])
REFERENCES [dbo].[Nurses] ([NurseId])
GO
ALTER TABLE [dbo].[ConsultationDetails] CHECK CONSTRAINT [ConsultationNurseIdentificationFK]
GO
ALTER TABLE [dbo].[ConsultationDetails]  WITH CHECK ADD  CONSTRAINT [ConsultationNursePatientFK] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([PatientId])
GO
ALTER TABLE [dbo].[ConsultationDetails] CHECK CONSTRAINT [ConsultationNursePatientFK]
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD  CONSTRAINT [ConsultationDoctorId] FOREIGN KEY([ConsultationDoctorId])
REFERENCES [dbo].[Doctors] ([DoctorId])
GO
ALTER TABLE [dbo].[Consultations] CHECK CONSTRAINT [ConsultationDoctorId]
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD  CONSTRAINT [ConsultationPatientId] FOREIGN KEY([ConsultationPatientId])
REFERENCES [dbo].[Patients] ([PatientId])
GO
ALTER TABLE [dbo].[Consultations] CHECK CONSTRAINT [ConsultationPatientId]
GO
/****** Object:  StoredProcedure [dbo].[CreateConsultation]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateConsultation]
    @ConsultationPatientId int,
    @ConsultationDoctorId int,
    @ConsultationReason NVARCHAR(500),
    @ConsultationDiagnosis NVARCHAR(500),
    @ConsultationNotes NVARCHAR(500),
    @ConsultationDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Consultations
    (
        ConsultationPatientId,
        ConsultationDoctorId,
        ConsultationReason,
        ConsultationDiagnosis,
        ConsultationNotes,
        ConsultationDate
    )
    VALUES
    (
        @ConsultationPatientId,
        @ConsultationDoctorId,
        @ConsultationReason,
        @ConsultationDiagnosis,
        @ConsultationNotes,
        @ConsultationDate
    );
END
GO
/****** Object:  StoredProcedure [dbo].[CreateDoctor]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateDoctor]
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @Address NVARCHAR(200),
    @County NVARCHAR(100),
    @Dob DATETIME,
    @Phone NVARCHAR(50),
    @Email NVARCHAR(150),
    @Gender NVARCHAR(10),
    @Pay DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Doctors
    (
        FirstName,
        LastName,
        Addr,
        County,
        DoB,
        Phone,
        Email,
        Gender,
        Pay
    )
    VALUES
    (
        @FirstName,
        @LastName,
        @Address,
        @County,
        @Dob,
        @Phone,
        @Email,
        @Gender,
        @Pay
    );
END
GO
/****** Object:  StoredProcedure [dbo].[CreateNurse]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateNurse]
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @Address NVARCHAR(200),
    @County NVARCHAR(100),
    @Dob DATETIME,
    @Phone NVARCHAR(50),
    @Email NVARCHAR(150),
    @Gender NVARCHAR(10),
    @HoursWorked int
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Nurses
    (
        FirstName,
        LastName,
        Addr,
        County,
        DoB,
        Phone,
        Email,
        Gender,
        HoursWorked
    )
    VALUES
    (
        @FirstName,
        @LastName,
        @Address,
        @County,
        @Dob,
        @Phone,
        @Email,
        @Gender,
        @HoursWorked
    );
END
GO
/****** Object:  StoredProcedure [dbo].[CreatePatient]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreatePatient]
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @Address NVARCHAR(200),
    @County NVARCHAR(100),
    @Dob DATETIME,
    @Phone NVARCHAR(50),
    @Email NVARCHAR(150),
    @Gender NVARCHAR(10),
    @PatientNumber nvarchar(50)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Patients
    (
        FirstName,
        LastName,
        Addr,
        County,
        DoB,
        Phone,
        Email,
        Gender,
        PatientNumber
    )
    VALUES
    (
        @FirstName,
        @LastName,
        @Address,
        @County,
        @Dob,
        @Phone,
        @Email,
        @Gender,
        @PatientNumber
    );
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteConsultation]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteConsultation]
    @ConsultationId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Consultations
    WHERE ConsultationId = @ConsultationId;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteDoctor]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteDoctor]
    @DoctorId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Doctors
    WHERE DoctorId = @DoctorId;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteNurse]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteNurse]
    @NurseId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Nurses
    WHERE NurseId = @NurseId;
END
GO
/****** Object:  StoredProcedure [dbo].[DeletePatient]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePatient]
    @PatientId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Patients
    WHERE PatientId = @PatientId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllConsultations]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllConsultations]
AS
BEGIN
    SELECT
        c.ConsultationID,
        p.FirstName AS PatientFirstName,
        p.LastName AS PatientLastName,
        d.FirstName AS DoctorFirstName,
        d.LastName AS DoctorLastName,
        c.ConsultationDate,
        c.ConsultationReason,
        c.ConsultationDiagnosis
    FROM Consultations c
    INNER JOIN Patients p ON c.ConsultationPatientID = p.PatientID
    INNER JOIN Doctors d ON c.ConsultationDoctorID = d.DoctorID
    ORDER BY c.ConsultationDate DESC
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllDoctors]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllDoctors]
AS
BEGIN
    SELECT 
        DoctorID,
        FirstName,
        LastName,
        Addr,
        County,
        DoB,
        Phone,
        Email,
        Gender,
        Pay
    FROM Doctors
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllNurses]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllNurses]
AS
BEGIN
    SELECT 
        NurseID,
        NurseFirstName,
        NurseLastName,
        NurseAddress,
        NurseCounty,
        NurseDob,     
        NursePhone,
        NurseEmail,
        NurseGender,
        NurseHours
    FROM Nurses
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllPatients]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllPatients]
AS
BEGIN
    SELECT 
        PatientID,
        PatientFirstName,
        PatientLastName,
        PatientAddress,
        PatientCounty,
        PatientDob,
        PatientPhone,
        PatientEmail,
        PatientGender
    FROM Patients
END
GO
/****** Object:  StoredProcedure [dbo].[GetConsultationDetailsPaged]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetConsultationDetailsPaged]
    @FirstName NVARCHAR(100),
    @PageNumber INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    
    SELECT
        c.ConsultDetailsId,
        c.NurseId,
        c.ConsultationId,
        c.PatientId,
        p.FirstName AS PatientFirstName,
        p.LastName AS PatientLastName,
        n.FirstName AS NurseFirstName,
        n.LastName AS NurseLastName,
        c.ConsultationDate,
        c.Reason,
        c.Notes
    FROM ConsultationDetails c
    INNER JOIN Patients p ON c.PatientId = p.PatientId
    INNER JOIN Nurses n ON c.NurseId = n.NurseId
    WHERE
        (@FirstName IS NULL OR p.FirstName LIKE '%' + @FirstName + '%')
    ORDER BY c.ConsultationDate DESC, c.ConsultDetailsId
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
    SELECT COUNT(*) AS TotalRecords
    FROM ConsultationDetails c
    INNER JOIN Patients p ON c.PatientId = p.PatientId
    INNER JOIN Nurses n ON c.NurseId = n.NurseId
    WHERE
        (@FirstName IS NULL OR p.FirstName LIKE '%' + @FirstName + '%');
END
GO
/****** Object:  StoredProcedure [dbo].[GetConsultationNursesByConsultation]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetConsultationNursesByConsultation]
    @ConsultationId INT
AS
BEGIN
    SELECT
        cn.ConsultationNurseId,
        n.NurseID,
        n.NurseFirstName AS NurseFirstName,
        n.NurseLastName AS NurseLastName,
        p.PatientFirstName AS PatientFirstName,
        p.PatientLastName AS PatientLastName,
        cn.ConsultationNurseDate,
        cn.ConsultationNurseReason,
        cn.ConsultationNurseNotes
    FROM ConsultationNurses cn
    INNER JOIN Nurses n
        ON cn.ConsultationNurseIdentification = n.NurseID
    INNER JOIN Patients p
        ON cn.ConsultationNursePatientId = p.PatientID
    WHERE cn.ConsultationId = @ConsultationId
    ORDER BY cn.ConsultationNurseDate
END



GO
/****** Object:  StoredProcedure [dbo].[GetConsultationsByPatient]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetConsultationsByPatient]
    @PatientID INT
AS
BEGIN
    SELECT
        c.ConsultationID,
        p.PatientFirstName AS PatientFirstName,
        p.PatientLastName AS PatientLastName,
        d.DoctorFirstName AS DoctorFirstName,
        d.DoctorLastName AS DoctorLastName,
        c.ConsultationDate,
        c.ConsultationReason,
        c.ConsultationDiagnosis,
        c.ConsultationNotes
    FROM Consultations c
    INNER JOIN Patients p ON c.ConsultationPatientId = p.PatientID
    INNER JOIN Doctors d ON c.ConsultationDoctorID = d.DoctorID
    WHERE c.ConsultationPatientId = @PatientID
    ORDER BY c.ConsultationDate
END
GO
/****** Object:  StoredProcedure [dbo].[GetConsultationsPaged]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetConsultationsPaged]
    @FirstName NVARCHAR(100),
    @PageNumber INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    
    SELECT
        c.ConsultationId,
        c.ConsultationPatientId,
        c.ConsultationDoctorId,
        p.FirstName AS PatientFirstName,
        p.LastName AS PatientLastName,
        d.FirstName AS DoctorFirstName,
        d.LastName AS DoctorLastName,
        c.ConsultationDate,
        c.ConsultationReason,
        c.ConsultationDiagnosis,
        c.ConsultationNotes
    FROM Consultations c
    INNER JOIN Patients p ON c.ConsultationPatientID = p.PatientID
    INNER JOIN Doctors d ON c.ConsultationDoctorID = d.DoctorID
    WHERE
        (@FirstName IS NULL OR p.FirstName LIKE '%' + @FirstName + '%')
    ORDER BY c.ConsultationDate DESC, c.ConsultationId
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
    SELECT COUNT(*) AS TotalRecords
    FROM Consultations c
    INNER JOIN Patients p ON c.ConsultationPatientID = p.PatientID
    INNER JOIN Doctors d ON c.ConsultationDoctorID = d.DoctorID
    WHERE
        (@FirstName IS NULL OR p.FirstName LIKE '%' + @FirstName + '%');
END
GO
/****** Object:  StoredProcedure [dbo].[GetDoctorByFirstName]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDoctorByFirstName]
    @FirstName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        DoctorId,
        FirstName,
        LastName,
        Phone,
        Email,
        Addr,
        County,
        Gender,
        Pay,
        Dob
    FROM Doctors
    WHERE FirstName LIKE '%' + @FirstName + '%'
    ORDER BY FirstName;
END
GO
/****** Object:  StoredProcedure [dbo].[GetDoctorsPaged]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDoctorsPaged]
    @FirstName NVARCHAR(100),
    @PageNumber INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;

    SELECT
        DoctorId,
        FirstName,
        LastName,
        Phone,
        Email,
        Addr,
        County,
        Gender,
        Pay,
        Dob
    FROM Doctors
    WHERE
        (@FirstName IS NULL OR FirstName LIKE '%' + @FirstName + '%')
    ORDER BY DoctorId
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
    SELECT COUNT(*) AS TotalRecords
    FROM Doctors
    WHERE
        (@FirstName IS NULL OR FirstName LIKE '%' + @FirstName + '%');
END
GO
/****** Object:  StoredProcedure [dbo].[GetMaleNurses]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMaleNurses]
AS
BEGIN
    SELECT 
        NurseID,
        NurseFirstName,
        NurseLastName,
        NurseDob,
        NursePhone,
        NurseEmail
        NurseHours
    FROM Nurses
    WHERE NurseGender = 'Male'
END
GO
/****** Object:  StoredProcedure [dbo].[GetNursesPaged]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetNursesPaged]
    @FirstName NVARCHAR(100),
    @PageNumber INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;

    SELECT
        NurseId,
        FirstName,
        LastName,
        Phone,
        Email,
        Addr,
        County,
        Gender,
        HoursWorked,
        Dob
    FROM Nurses
    WHERE
        (@FirstName IS NULL OR FirstName LIKE '%' + @FirstName + '%')
    ORDER BY NurseId
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
    SELECT COUNT(*) AS TotalRecords
    FROM Nurses
    WHERE
        (@FirstName IS NULL OR FirstName LIKE '%' + @FirstName + '%');
END
GO
/****** Object:  StoredProcedure [dbo].[GetPatientsAbove25]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPatientsAbove25]
AS
BEGIN
    SELECT
        PatientID,
        PatientFirstName,
        PatientLastName
        PatientDob,
        PatientPhone,
        PatientEmail,
        DATEDIFF(YEAR, PatientDob, GETDATE()) -
        CASE
            WHEN DATEADD(YEAR, DATEDIFF(YEAR, PatientDob, GETDATE()), PatientDob) > GETDATE()
            THEN 1
            ELSE 0
        END AS Age
    FROM Patients
    WHERE
        DATEDIFF(YEAR, PatientDob, GETDATE()) -
        CASE
            WHEN DATEADD(YEAR, DATEDIFF(YEAR, PatientDob, GETDATE()), PatientDob) > GETDATE()
            THEN 1
            ELSE 0
        END > 25
END

GO
/****** Object:  StoredProcedure [dbo].[GetPatientsPaged]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPatientsPaged]
    @FirstName NVARCHAR(100),
    @PageNumber INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;

    SELECT
        PatientId,
        FirstName,
        LastName,
        Phone,
        Email,
        Addr,
        County,
        Gender,
        PatientNumber,
        Dob
    FROM Patients
    WHERE
        (@FirstName IS NULL OR FirstName LIKE '%' + @FirstName + '%')
    ORDER BY PatientId
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
    SELECT COUNT(*) AS TotalRecords
    FROM Patients
    WHERE
        (@FirstName IS NULL OR FirstName LIKE '%' + @FirstName + '%');
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateConsultation]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[UpdateConsultation]
    
    @ConsultationId int,
    @ConsultationPatientId int,
    @ConsultationDoctorId int,
    @ConsultationReason nvarchar(500),
    @ConsultationDiagnosis nvarchar(500),
    @ConsultationNotes nvarchar(500),
    @ConsultationDate datetime
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Consultations
    SET
        ConsultationPatientId = @ConsultationPatientId,
        ConsultationDoctorId = @ConsultationDoctorId,
        ConsultationReason = @ConsultationReason,
        ConsultationDiagnosis = @ConsultationDiagnosis,
        ConsultationNotes = @ConsultationNotes,
        ConsultationDate = @ConsultationDate
    WHERE ConsultationId = @ConsultationId;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateDoctor]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateDoctor]
    @DoctorId INT,
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @Address NVARCHAR(200),
    @County NVARCHAR(100),
    @Dob DATETIME,
    @Phone NVARCHAR(50),
    @Email NVARCHAR(150),
    @Gender NVARCHAR(10),
    @Pay DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Doctors
    SET
        FirstName = @FirstName,
        LastName = @LastName,
        Addr = @Address,
        County = @County,
        DoB = @Dob,
        Phone = @Phone,
        Email = @Email,
        Gender = @Gender,
        Pay = @Pay
    WHERE DoctorId = @DoctorId;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateNurse]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateNurse]
    @NurseId INT,
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @Address NVARCHAR(200),
    @County NVARCHAR(100),
    @Dob DATETIME,
    @Phone NVARCHAR(50),
    @Email NVARCHAR(150),
    @Gender NVARCHAR(10),
    @HoursWorked int
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Nurses
    SET
        FirstName = @FirstName,
        LastName = @LastName,
        Addr = @Address,
        County = @County,
        DoB = @Dob,
        Phone = @Phone,
        Email = @Email,
        Gender = @Gender,
        HoursWorked = @HoursWorked
    WHERE NurseId = @NurseId;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdatePatient]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePatient]
    @PatientId INT,
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @Address NVARCHAR(200),
    @County NVARCHAR(100),
    @Dob DATETIME,
    @Phone NVARCHAR(50),
    @Email NVARCHAR(150),
    @Gender NVARCHAR(10),
    @PatientNumber nvarchar(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Patients
    SET
        FirstName = @FirstName,
        LastName = @LastName,
        Addr = @Address,
        County = @County,
        DoB = @Dob,
        Phone = @Phone,
        Email = @Email,
        Gender = @Gender,
        PatientNumber = @PatientNumber
    WHERE PatientId = @PatientId;
END
GO
/****** Object:  StoredProcedure [dbo].[ValidateLogin]    Script Date: 13/01/2026 00:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ValidateLogin]
    @Username NVARCHAR(50),
    @Password NVARCHAR(500)
AS
BEGIN
    SELECT *
    FROM Logins
    WHERE LoginUserName = @Username
      AND LoginPassword = @Password
      AND LoginIsActive = 1
END
GO
USE [master]
GO
